.manage-happiness {
  padding: 5px 10px;

  .pokemon-happiness-input {
    display: inline-block;
    width: 100%;
    height: 50px;
    position: relative;

    &-button {
      left: 370px;
      position: absolute;
    }
  }
}


