.pokemon-details {
  padding: 5px 10px;

  button {
    top: 0;
    left: 0;
    position: absolute;
  }

  .pokemon-happiness-input {
    display: inline-block;
    width: 300px;
    height: 50px;
    position: relative;

    button {
      left: 200px;
      position: absolute;
    }
  }
}

.pokemon-details-top {
  position: relative;
  text-align: center;
}

.pokemon-image {
  display: inline-block;
}

