@import url('https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css');
@import url("https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css");

@import 'home-page';
@import 'about';
@import 'pokemons-page';
@import 'pokemon-details';
@import 'user-page';
@import 'test-page';
@import 'not-found-page';

body {
  background: url('../resources/poke-background-60.png') no-repeat;
  background-size: 100% auto;
}

.header {
  background-color: rgba(0,0,0,0.8);
  border: none;
  border-radius: 0px;
}

.loadingDots {
  font-weight: bold;
  font-size: 35px;
  color: white;
  margin-left: 30px;
  margin-top: -10px;
}

.active {
  background: blue;
}

.navbar-nav {
  float: right;
}

.caught-pokemons {
  color: white;
  position: relative;

  .pokemons {
    position: absolute;
    text-align: center;
    background: #322f99;
    border-radius: 20px;
    padding: 8px 14px;
    top: -9px;
    left: -10px;
  }
}


